<h1 class="h3 mb-2 text-gray-800">Read books</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bookObj of booksRead">
                        <th scope="row">{{getNextLineNumber()}}</th>
                        <td>{{bookObj.name}}</td>
                        <td>{{bookObj.author}}</td>
                        <td>{{bookObj.dateRead | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- end of card body div-->
</div>
